<!--<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.team4.shouldbe.mapper.BoardMapper">
    <select id="boardPageList" resultType="BoardVO">
        select post_id, user_id, title, content, views, board_cat, write_date
        from posts
    </select>
</mapper>-->