<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.team4.shouldbe.mapper.AdminMapper">

    <select id="adminMemberList" resultType="com.finalproject.team4.shouldbe.vo.AdminMemberVO">
        select profile_img, user_name, user_id, time, count_report
        from users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <!--
        <select id="adminMemberList" resultType="com.finalproject.team4.shouldbe.vo.AdminMemberVO">
           select u.profile_img, u.user_id,u.user_name,u.time ,
           (select count(*) from posts where u.user_id=p.user_id) posts_count,
           (select count(*) from coments where u.user_id=c.user_id) coments_count,
           u.count_report
           from users u
           join posts p on u.user_id=p.user_id
           join coments c on u.user_id=c.user_id
        </select>
    -->

    <select id="countSuspendedMember" resultType="int">
        SELECT COUNT(*)
        FROM users
    </select>

    <select id="adminSuspendedList" resultType="com.finalproject.team4.shouldbe.vo.AdminSuspendedVO">
        select profile_img, user_name, user_id, time, count_report
        from users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>

    <!--
        <select id="adminSuspendedList" resultType="com.finalproject.team4.shouldbe.vo.AdminSuspendedVO">
           select u.profile_img, u.user_id, u.user_name,
           su.suspended_time, su.reason,
           (select count(*) from posts where u.user_id=p.user_id) posts_count,
           (select count(*) from coments where u.user_id=c.user_id) coments_count,
           u.count_report
           from users u
           join suspended_users su on u.user_id=su.user_id
           join posts p on u.user_id=p.user_id
           join coments c on u.user_id=c.user_id
        </select>
    -->
    <select id="countWithdrawnMember" resultType="int">
        SELECT COUNT(*)
        FROM users
    </select>

    <select id="adminWithdrawnList" resultType="com.finalproject.team4.shouldbe.vo.AdminWithdrawnVO">
        select profile_img, user_name, user_id, time, count_report
        from users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>

    <!--
        <select id="adminWithdrawnList" resultType="com.finalproject.team4.shouldbe.vo.AdminWithdrawnVO">
           select u.profile_img, u.user_id, u.user_name,
           wu.withdrawn_time,
           (select count(*) from posts where u.user_id=p.user_id) posts_count,
           (select count(*) from coments where u.user_id=c.user_id) coments_count,
           u.count_report
           from users u
           join withdrawn_users wu on u.user_id=wu.user_id
           join posts p on u.user_id=p.user_id
           join coments c on u.user_id=c.user_id
        </select>
    -->

    <select id="adminChatList" resultType="com.finalproject.team4.shouldbe.vo.AdminChatVO">
        select *
        from message
        ORDER BY msg_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <!-- Select a paginated list of board entries -->
    <select id="selectMessage" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.MessageVO">
        SELECT *
        FROM message
        ORDER BY msg_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <!-- 진행중
        <select id="adminChatList" resultType="com.finalproject.team4.shouldbe.vo.AdminChatVO">
           select u.profile_img, u.user_id, u.user_name,
           wu.withdrawn_time,
           u.count_report
           from users u
           join chat_report cr on u.user_id=cr.user_id
        </select>
    -->
    <select id="countBoard" resultType="int">
        SELECT COUNT(*)
        FROM posts
    </select>

    <!-- Select a paginated list of board entries -->
    <select id="selectBoard" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.BoardVO">
        SELECT * FROM posts
        ORDER BY post_id  <!-- Replace 'some_column' with the actual column you want to sort by -->
        LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>

    <select id="countBoardReply" resultType="int">
        SELECT COUNT(*)
        FROM comments
    </select>

    <!-- Select a paginated list of board entries -->
    <select id="selectBoardReply" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.BoardReplyVO">
        SELECT *
        FROM comments
        ORDER BY comment_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>

    <select id="countMessage" resultType="int">
        SELECT COUNT(*)
        FROM message
    </select>

    <select id="countMember" resultType="int">
        SELECT COUNT(*)
        FROM users
    </select>

    <!-- Select a paginated list of board entries -->
    <select id="selectMember" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.UserVO">
        SELECT *
        FROM users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
</mapper>