<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.team4.shouldbe.mapper.AdminMapper">
    <!--
    //대시보드=====================================================

    //게시글관리_보드삭제 버튼======================================================
    //댓글관리======================================================
    //퀴즈관리======================================================
    //퀴즈관리_퀴즈등록페이지버튼======================================================
    //퀴즈관리_유저퀴즈등록버튼======================================================
    //퀴즈관리_등록된 퀴즈 리스트======================================================
    //채팅관리======================================================

    -->


    <!--//현재회원관리===================================================== -->
    <select id="countMember" resultType="int">
        SELECT COUNT(*)
        FROM users
    </select>
    <select id="adminMemberList" resultType="com.finalproject.team4.shouldbe.vo.AdminMemberVO">
        select profile_img, user_name, user_id, time, count_report
        from users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <select id="postsCount" resultType="int">
        select count(*) from posts where user_id=#{user_id}
    </select>


    <!--//정지회원관리====================================================== -->
    <select id="countSuspendedMember" resultType="int">
        SELECT COUNT(*)
        FROM users
    </select>
    <select id="adminSuspendedList" resultType="AdminMemberVO">
        select suspended_id, user_id, suspended_time, suspended_period, reason
        from suspended_users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <select id="getUserVO" resultType="AdminMemberVO">
        select profile_img,user_name,count_report
        from users where user_id=#{user_id}
    </select>


    <!--//정지회원관리_정지버튼====================================================== -->
    <insert id="suspendInsert">
        insert into suspended_users(user_id,suspended_period,reason) values(#{user_id},7,'사유2');
    </insert>


    <!--//정지회원관리_정지해제버튼====================================================== -->
    <delete id="suspendDelete">
        delete from suspended_users where suspended_id=${suspended_id}
    </delete>

    <!--//탈퇴회원관리======================================================-->
    <select id="countWithdrawnMember" resultType="int">
        SELECT COUNT(*)
        FROM users
    </select>
    <select id="adminWithdrawnList" resultType="AdminMemberVO">
        select user_id, withdrawn_time
        from withdrawn_users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <select id="adminWithdrawnListUsers" resultType="AdminMemberVO">
        select profile_img, user_name,count_report,time
        from users
        where user_id=#{user_id}
    </select>

    <!--//게시글관리====================================================== -->
    <select id="countBoard" resultType="int">
        SELECT COUNT(*)
        FROM post_report;
    </select>
    <select id="getBoardReportList" resultType="com.finalproject.team4.shouldbe.vo.BoardReportVO">
        SELECT post_report_id,user_id,post_id,report_time FROM post_report
        ORDER BY post_id  <!-- Replace 'some_column' with the actual column you want to sort by -->
        LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <select id="getPostsVO" resultType="com.finalproject.team4.shouldbe.vo.BoardReportVO">
        select title,content,board_cat from posts where post_id=${post_id}
    </select>


    <!--//게시글관리_보드삭제 버튼======================================================-->
    <delete id="postsDelete">
        delete from posts where post_id=${post_id}
    </delete>


    <!--댓글관리======================================================-->
    <select id="countBoardReply" resultType="int">
        SELECT COUNT(*)
        FROM comments
    </select>
    <select id="selectBoardReply" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.BoardReplyVO">
        SELECT *
        FROM comments
        ORDER BY comment_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>


    <!--//퀴즈관리======================================================-->
    <select id="quizlist" resultType="com.finalproject.team4.shouldbe.vo.QuizVO">
        select quiz_id, level, quiz_lang, quiz_content
        from quiz
        where level = ${level}
    </select>

    <!--퀴즈관리_퀴즈등록페이지버튼======================================================-->
    <insert id="quizInsert">
        insert into quiz(quiz_content,level,quiz_lang) values(#{quiz_content},${level},'eng');
    </insert>
    <select id="selectQuizId" resultType="int">
        select quiz_id from quiz where quiz_content=#{quiz_content};
    </select>
    <insert id="answerInsert">
        insert into answer(quiz_id,answer) values (${quiz_id},#{answer});
    </insert>


    <!--//퀴즈관리_등록된 퀴즈 리스트======================================================-->
    <select id="editlist" resultType="com.finalproject.team4.shouldbe.vo.QuizVO">
        select q.quiz_id, q.level, q.quiz_lang, q.quiz_content, a.answer
        from quiz q
                 join answer a on q.quiz_id = a.quiz_id
        where a.quiz_id = ${quiz_id}
    </select>


    <!--//채팅관리======================================================-->
    <select id="countMessage" resultType="int">
        SELECT COUNT(*)
        FROM message
    </select>












<!--
    <select id="commentsCount" resultType="int">
        select count(*) from comments where user_id=#{user_id}
    </select>

    <select id="adminMemberList" resultType="com.finalproject.team4.shouldbe.vo.AdminMemberVO">
        select u.profile_img,
               u.user_id,
               u.user_name,
               u.time,
               (select count(*) from posts where u.user_id = p.user_id)    posts_count,
               (select count(*) from comments where u.user_id = c.user_id) coments_count,
               u.count_report
        from users u
                 join posts p on u.user_id = p.user_id
                 join comments c on u.user_id = c.user_id
    </select>
-->





    <!--
        <select id="adminSuspendedList" resultType="com.finalproject.team4.shouldbe.vo.AdminSuspendedVO">
           select u.profile_img, u.user_id, u.user_name,
           su.suspended_time, su.reason,
           (select count(*) from posts where u.user_id=p.user_id) posts_count,
           (select count(*) from coments where u.user_id=c.user_id) coments_count,
           u.count_report
           from users u
           join suspended_users su on u.user_id=su.user_id
           join posts p on u.user_id=p.user_id
           join coments c on u.user_id=c.user_id
        </select>
    -->






    <!--
        <select id="adminWithdrawnList" resultType="com.finalproject.team4.shouldbe.vo.AdminWithdrawnVO">
           select u.profile_img, u.user_id, u.user_name,
           wu.withdrawn_time,
           (select count(*) from posts where u.user_id=p.user_id) posts_count,
           (select count(*) from coments where u.user_id=c.user_id) coments_count,
           u.count_report
           from users u
           join withdrawn_users wu on u.user_id=wu.user_id
           join posts p on u.user_id=p.user_id
           join coments c on u.user_id=c.user_id
        </select>
    -->

    <select id="selectMessage" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.MessageVO">
        SELECT *
        FROM message
        ORDER BY msg_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
    <!-- 진행중
        <select id="adminChatList" resultType="com.finalproject.team4.shouldbe.vo.AdminChatVO">
           select u.profile_img, u.user_id, u.user_name,
           wu.withdrawn_time,
           u.count_report
           from users u
           join chat_report cr on u.user_id=cr.user_id
        </select>
    -->


    <!-- Select a paginated list of board entries
    <select id="selectBoard" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.BoardVO">
        SELECT * FROM posts
        ORDER BY post_id
        LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>
         Replace 'some_column' with the actual column you want to sort by -->




    <!-- Select a paginated list of board entries -->






    <!-- Select a paginated list of board entries -->
    <select id="selectMember" parameterType="map" resultType="com.finalproject.team4.shouldbe.vo.UserVO">
        SELECT *
        FROM users
        ORDER BY user_id
            LIMIT #{pvo.offsetPoint}, #{pvo.onePageRecord}
    </select>

</mapper>