<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.team4.shouldbe.mapper.QuizMapper">

    <select id="findQuiz" resultType="QuizVO">
        SELECT *
        FROM quiz
        WHERE level = #{level}
          AND quiz_id NOT IN (
            SELECT quiz_id
            FROM user_quiz
            WHERE user_id = #{userId}
        )
    </select>

    <select id="findAnswersByQuizId" resultType="String">
        SELECT answer
        FROM answer
        WHERE quiz_id = #{quizId}
    </select>

    <select id="existsQuizInfo" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END
        FROM save_quiz
        WHERE quiz_id = #{quizId}
          AND user_id = #{userId}
    </select>

    <insert id="insertQuizInfo">
        INSERT INTO save_quiz (quiz_id, user_id)
        VALUES (#{quizId}, #{userId})
    </insert>

    <insert id="insertUserAnswerInfo">
        INSERT INTO user_quiz (quiz_id, user_id)
        VALUES (#{quizId}, #{userId})
    </insert>

    <insert id="insertQuiz" useGeneratedKeys="true" keyProperty="quiz_id">
        INSERT INTO quiz (level, quiz_lang, quiz_content)
        VALUES (#{level}, #{quiz_lang}, #{quiz_content})
    </insert>

    <insert id="insertAnswer">
        INSERT INTO answer (quiz_id, answer)
        VALUES (#{quiz_id}, #{answer})
    </insert>
</mapper>
