<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.team4.shouldbe.mapper.ReplyMapper">
    <select id="replyList" resultType="BoardReplyVO">
        select c.comment_id,
               c.user_id                              as writer,
               post_id,
               content,
               date_format(write_date, '%m-%d %H:%i') as write_date,
               is_deleted,
               count(l.user_id)                       as 'like'
        from comments c
                 left join comment_like l on c.comment_id = l.comment_id
        where post_id = #{param1}
        group by comment_id
        order by write_date;
    </select>
    <insert id="addReply">
        insert into comments(user_id, post_id, content, depth, is_deleted) values(#{writer}, #{post_id}, #{content}, #{depth}, 0)
    </insert>
    <select id="selectReply" resultType="BoardReplyVO">
        select comment_id,
               user_id as writer,
               post_id,
               content,
               date_format(write_date, '%m-%d %H:%i') as write_date,
               is_deleted
        from comments
        where post_id = #{param1} and comment_id = #{param2}
    </select>
    <delete id="deleteReply">
        delete from comments where post_id=#{param1} and comment_id = #{param2}
    </delete>
    <insert id="report">
        insert into comment_report(comment_id, user_id) values(#{param1}, #{param2});
    </insert>
    <insert id="like">
        insert into comments_like(comment_id, user_id) values(#{param1}, #{param2});
    </insert>
</mapper>

