<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.team4.shouldbe.mapper.UserMapper">
    <select id="useridCheck" resultType="int">
        select count(user_id)
        from users
        where user_id = #{param1};
    </select>
    <insert id="useridInsert">
        insert into users(user_id, user_name, password, salt, email, nation, sex, lang, profile_img)
        values (#{userid}, #{username}, #{userpwd}, #{salt}, #{email}, #{nation}, #{sex}, #{lang}, 'user.png')
    </insert>
    <select id="userLoginCheck" resultType="LoginVO">
        select password, salt, user_name,withdraw
        from users
        where user_id = #{param1};
    </select>
    <select id="userFindId" resultType="String">
        select user_id
        from users
        where user_name = #{param1}
          and email = #{param2};
    </select>
    <select id="userCheckId" resultType="int">
        select count(user_id)
        from users
        where user_id = #{param1}
          and email = #{param2};
    </select>
    <select id="userCheckEmail" resultType="int">
        select count(user_id)
        from users
        where email = #{param1}
    </select>
    <update id="userpwdUpdate" parameterType="UserVO">
        update users
        set password = #{userpwd},
            salt     = #{salt}
        where user_id = #{userid};
    </update>
    <select id="getLastLogDate" resultType="Date">
        SELECT log_date
        FROM user_login
        WHERE user_id = #{userid}
        ORDER BY log_date DESC
            LIMIT 1
    </select>
    <insert id="insertLog">
        insert into user_login(user_id)
        values (#{userid});
    </insert>

    <select id="ismanager" resultType="boolean">
        SELECT manager
        FROM users
        WHERE user_id = #{userid}
    </select>
</mapper>